<% flash.each do |msg_type, msg| %>
  <% if msg_type == "notice" %>
    <div class="alert alert-success" role="alert">
      <%= msg %>
    </div>
  <% else %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
  <hr>
<% end %>
